/*
0 - 600px   PHONE
600 - 900px TABLET PORTRAIT
900 - 1200  TABLET LANDSCAPE
1200 - 1799 WHERE OUR NORMAL STYLES APPLY 
1800px +  :   BIG DESKTOP
*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 48%; } }

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  background-color: #ecf2f8;
  font-weight: 500; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center; }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 56.25em) {
    .container {
      flex-direction: column;
      align-items: center; } }

.image-box__image {
  width: 320px;
  border-radius: 10px 0 0 10px;
  object-fit: cover; }
  @media (max-width: 56.25em) {
    .image-box__image {
      width: 380px;
      border-radius: 10px 10px 0 0;
      height: 40%; } }

.content {
  background-color: #fff;
  height: auto;
  flex: 0 0 25%;
  padding: 2rem;
  border-radius: 0 10px 10px 0; }
  @media (max-width: 56.25em) {
    .content {
      width: 380px;
      padding: 0 0 2rem 0;
      border-radius: 0 0 10px 10px; } }

.content__text {
  padding: 3rem 2rem; }
  .content__text-heading {
    font-weight: 700;
    color: #48556a;
    font-size: 2.3rem;
    margin-bottom: 2rem; }
  .content__text-para {
    color: #6d7f97;
    line-height: 1.7; }

.content__author {
  display: flex;
  padding: 0 2rem;
  align-items: center; }
  .content__author-box {
    margin-right: auto;
    display: flex;
    align-items: center; }
  .content__author-box-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }
  .content__author-box-text {
    margin-left: 1rem; }
  .content__author-box-name {
    font-size: 1.3rem;
    color: #48556a; }
  .content__author-box-date {
    font-size: 1.2rem;
    color: #9eafc2;
    margin-top: 0.5rem; }

.share {
  position: relative; }

.share__checkbox {
  display: none; }

.share .share__checkbox:checked + .share__btn {
  background-color: #6d7f97; }

.share .share__checkbox:checked + .share__btn .share__icon {
  background-color: #fff; }

.share__icon {
  display: inline-block;
  background-color: #6d7f97;
  -webkit-mask-image: url("../../img/icon-share.svg");
  mask-image: url("../../img/icon-share.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 2rem;
  height: 1.5rem; }

.share__link i {
  color: #fff;
  font-size: 2rem; }

.share__btn {
  position: relative;
  cursor: pointer;
  background-color: #ecf2f8;
  padding: 1rem 1.1rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10; }
  @media (max-width: 56.25em) {
    .share__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem; } }

.share .share__checkbox:checked ~ .share__bg {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem); }

.share__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: -7rem;
  left: -7.4rem;
  background-color: #48556a;
  padding: 0.8rem 2.5rem;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 56.25em) {
    .share__bg {
      left: -332.5px;
      top: 6%;
      width: 1123%;
      border-radius: 1rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      padding: 2.8rem 0;
      padding-left: 2.5rem;
      display: flex;
      align-items: center; } }

.share__bg::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #48556a;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 56.25em) {
    .share__bg::after {
      display: none; } }

.share__bg > *:not(:last-child) {
  margin-right: 1.2rem; }

.share__bg .text {
  font-size: 1.4rem;
  color: #9eafc2;
  text-transform: uppercase; }
